# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
* List popular languages for data science
* List commonly used libraries for data science
* List commonly used data science tools

# Some of the popular languages that data scientists use are
1. Python
2. Scala
3. R
4. Julia
5. SQL

# Some of the commonly used libraries used by Data scientists include:
1. Pandas
2. Numpy
3. Scikit-Learn
4. Matplotlib
5. Tensorflow

| Data science Tools|
|...........|
|Apache Spark|
|TensorFlow|
|ScikitLearn|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This is a simple arithmetic expression to multiply and then add integers
a = (3*4)+5
print(a)

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60
Mins = 200
Hours = Mins/60
print (Hours)

3.3333333333333335

## Author
Sudheer